.friend {
  
    width:70px;
    padding:5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    border: 2px solid #000;
    border-radius: 5px;
    
  }
  
  .avatar {
    justify-content: center;
    
  }
  
  .name {
    text-align: center;
    color:#000;
    font-size: 20px;
    
  }
  
  .online {
    text-align: center;
    color: #498936;
  }
  
  .offline {
    text-align: center;
    color: #ED5447;
  }