/* TransactionHistory */

.transactionHistory {
    margin-left: 100px;
    margin-top: 50px;
    width: 100%;
    border-collapse: collapse;
  }


.tableHead {
  background-color: #2A2A2A;
  border: 1px solid #000;
  color: #fff;
  font-weight: bold;
  padding: 12px;
}

td {
  color:#000;
  font-size: 20px;
  font-weight: 400;
  border: 1px solid #000;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #D3D3D3;
}

.tableHead, td {
    text-align: center; /* Центрирование текста в ячейках */
  }